.mybutton {
  padding: 20px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  min-width: 200px;
}

.mybutton:hover {
  background-color: var(--color-hover);
  opacity: 0.9;
  transform: scale(0.98);
}

.dombutton {
  margin-top: 10px;
  color: var(--white);
  background-color: var(--background-color-btn);
}

.exambutton:hover {
  background-color: var(--color-hover);
  opacity: 0.9;
  transform: scale(0.98);
}

.lethabutton {
  margin-top: 10px;
  color: var(--white);
  background-color: var(--background-color-btn);
}

.lethabutton:hover {
  background-color: var(--color-hover);
  opacity: 0.9;
  transform: scale(0.98);
}

.projectbutton {
  margin-top: 10px;
  color: var(--white);
  background-color: var(--background-color-btn);
}

.projectbutton:hover {
  background-color: var(--color-hover);
  opacity: 0.9;
  transform: scale(0.98);
}

.buttonlink {
  text-decoration: none;
  color: var(--white);
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  margin: 20px 30px;
}
