.button {
  font-weight: normal;
  font-style: normal;
  padding: 10px 20px;
  font-size: 22px;
  min-width: 200px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--background-color-btn);
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  background-color: var (--color-hover);
  opacity: 0.9;
  transform: scale(0.98);
}

.exambutton {
  font-weight: normal;
  font-style: normal;
  padding: 20px 15px;
  font-size: 22px;
  min-width: 200px;
  margin-top: 10px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--background-color-btn);
}

&:hover {
  background-color: var(--color-hover);
  opacity: 0.9;
  transform: scale(0.98);
}

a {
  text-decoration: none;
  color: var(--white);
}

.lethabutton {
  font-weight: normal;
  font-style: normal;
  padding: 20px 15px;
  font-size: 22px;
  min-width: 200px;
  margin-top: 10px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--background-color-btn);
}

&:hover {
  background-color: var(--color-hover);
  opacity: 0.9;
  transform: scale(0.98);
}

a {
  text-decoration: none;
  color: var(--white);
}

.projectbutton {
  font-weight: normal;
  font-style: normal;
  padding: 20px 15px;
  font-size: 22px;
  min-width: 200px;
  margin-top: 10px;
  cursor: pointer;
  border-color: var(--black);
  color: var(--white);
  background-color: var(--background-color-btn);
}

&:hover {
  background-color: var(--color-hover);
  opacity: 0.9;
  transform: scale(0.98);
}

a {
  text-decoration: none;
  color: var(--white);
}
