:root {
  --red: rgb(139, 26, 6);
  --steel: rgb(88, 92, 99);
  --white: rgb(249, 249, 249);
  --black: rgb(18, 18, 18);
  --font-family: "Arial, sans-serif";
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--white);
  color: var(--black);
  flex-grow: 1;
}
