:root {
  --color-hover: rgb(75, 166, 157);
  --background-color-btn: rgb(183, 110, 121);
  --steel: rgb(88, 92, 99);
  --white: rgb(249, 249, 249);
  --black: rgb(18, 18, 18);
  --dark-beige: rgb(232, 224, 209);
  --font-family: "Arial, sans-serif";
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--white);
  color: var(--dark-beige);
  flex-grow: 1;
}
