.Card {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color-card);
  border-radius: 5px;
  padding: 60px;
}

.ExamCard .NodeCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-card);
  border-radius: 5px;
  border-color: 2px var(--black);
  padding: 60px;
  max-width: 2000px;
  height: 600px;
}
img {
  width: 100%;
  margin-bottom: 10px;
}

.LethaCard .CsharpCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-card);
  border-radius: 5px;
  border-color: 2px var(--black);
  padding: 60px;
  margin-left: 20px;
  max-width: 2000px;
  height: 600px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.SemesterProjectCard .NextCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-card);
  border-radius: 5px;
  border-color: 2px var(--black);
  padding: 60px;
  margin-left: 20px;
  max-width: 2000px;
  height: 900px;
}
img {
  width: 100%;
  margin-bottom: 10px;
}

.link {
  font-size: 18px;
  margin: 15px 5px;
}

a {
  color: var(--background-color-btn);
}

a:hover {
  color: var(--hover-color);
}

.heading {
  color: var(--black);
  padding: 5px;
  font-family: "haboro-serif", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
