.Card {
  background-color: var(--background-color-card);
  border-radius: 5px;
  padding: 60px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.link {
  font-size: 18px;
  margin: 15px 5px;
  width: 500px;
  color: var(--background-color-btn);
  text-decoration: none;
}

.link:hover {
  color: var(--hover-color);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 800px;
}

.item {
  flex: 1;
  padding: 10px;
  width: 400px;
}

p {
  color: var(--steel);
  font-size: 16px;
  line-height: 1.6;
  width: 500px;
}
