.Card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-card);
  border-radius: 5px;
  padding: 60px;
}

.ExamCard .NodeCard {
  background-color: var(--background-color-card);
  border-radius: 5px;
  border-color: 2px var(--black);
}

img {
  width: 30%;
  margin-bottom: 10px;
}

.LethaCard .CsharpCard {
  background-color: var(--background-color-card);
  border-radius: 5px;
  border-color: 2px var(--black);
  padding: 60px;
  max-width: 500px;
  height: 600px;
}

.SemesterProjectCard .NextCard {
  background-color: var(--background-color-card);
  border-radius: 5px;
  border-color: 2px var(--black);
  padding: 60px;
  max-width: 500px;
  height: 900px;
}

.link {
  font-size: 18px;
  margin: 15px 5px;
  color: var(--background-color-btn);
  text-decoration: none;
}

.link:hover {
  color: var(--hover-color);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  flex: 1;
  padding: 10px;
}
