.Card {
  background-color: var(--background-color-card);
  border-radius: 5px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.link {
  font-size: 18px;
  margin: 30px 100px;
  color: var(--background-color-btn);
  text-decoration: none;
}

.link:hover {
  color: var(--hover-color);
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.item {
  padding: 10px;
  width: 463px;
}

p {
  color: var(--steel);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}
