.nav ul {
  list-style-type: none;
  display: flex;
  padding: 25px 10px;
  min-width: 1470px;
  cursor: pointer;
}

ul li {
  font-size: 18px;
  font-family: "haboro-serif", "times new roman", "serif";
  font-style: normal;
  text-align: right;
  font-weight: 500;
  margin: 0 auto;
  background-color: var(--white);
}

.navlink {
  color: var(background-color-btn);
}

.navlink:hover {
  color: var(--color-hover);
}
.nav {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}
