.navlink {
  color: var(--white);
  font-size: 18px;
  font-family: "haboro-serif", "times new roman", "serif";
  font-style: normal;
  font-weight: 700;
  margin: 0 auto;
}

.navlink:hover {
  font-size: 25px;
  color: var(--white);
}

nav {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  gap: 100px;
  cursor: pointer;
  padding: 25px 10px;
  min-width: 1470px;
}
