.heading {
  color: var(--black);
  font-family: "haboro-serif", "serif";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding: 25px;
}

:global(.h2) {
  color: var(--black);
  padding: 5px;
  font-family: "haboro-serif", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
.container {
  background-color: var(--background-color);
}
