.heading {
  color: var(--black);
  font-family: "haboro-serif", "serif";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

:global(.h2) {
  color: var(--black);
  padding: 5px;
  font-family: "haboro-serif", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}

:global(.h3) {
  color: var(--black);
  padding: 5px;
  font-family: "haboro-serif", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}
.container {
  background-color: var(--background-color);
}
