footer {
  color: white;
  background-color: var(--black);
  font-family: haboro-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  padding: 20px;
  height: 100px;
}

h4 {
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
}
