footer {
  color: white;
  background-color: var(--black);
  font-family: "haboro-serif", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  padding: 10px;
  height: 100px;
  width: 100%;
}

h4 {
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  text-align: right;
}
